
.contact-body {
  background-image: url(../img/backbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}
.contact-card {
  margin-top: 15rem;
  margin-left: 15rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 70%;
  height: 500px;
  padding: 20px;
  overflow: auto;
}
.contact-form {
  width: 100%;
}
.name-phone {
  width: 92.8%;
  display: flex;
}
.contact-input {
  width: 90%;
  padding: 10px;
  margin: 0.5rem;
  border-radius: 5px;
  border: 2px solid rgb(46, 178, 255);
}
textarea.contact-input {
  width: 90%;
  height: 120px;
  resize: vertical;
}

.btn {
  margin-top: 2rem;
  margin-left: 8rem;
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;

  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

.content {
  text-align: center;
}
.contact-h2 {
  margin-top: 10rem;
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.content .contact-h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.content .contact-p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .contact-card {
    width: 100%;
    margin: 2rem;
  }

  .name-phone {
    flex-wrap: wrap;
  }

  .contact-input {
    width: 100%;
  }
}
